/* Less Variables */
@bdf: 'Lato', sans-serif;
@titlefont : 'Oswald', sans-serif;
@fontOswald: 'Oswald', sans-serif;
@fontElegantIcons: 'ElegantIcons';
@bkg: #fff;
@bkgheader: #fff;
@bkgfooter: #222;
@maincolor:#78b7c6;
@primaryColor: #333;
@primarycolor: #606060;
@grayColorBold: #7b7b7b;
@links: #373737;
@linkshover: #78b7c6;
@bordercolor :#eaeaea;
@inputtext: #fff;
@bgmenu: #343333;
@colorH2: #201f1f;
@colorOldPrice: #7a7a7a;
@colorOldPrice2: #797979;
@colorButtonAddCart: #5b5b5b;
@colorBorderAction: #c8c8c8;
@bgButtonDefault: #4a4a4a;

/*Font-weight*/
@menufont-weight: 500;
@headingfontweight: 500;
@regularfontweight: 400;
@headingcolor: #333333;
.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}