/**
 * custom theme 2021-09-08 14:38:44 */

#newsletter_pop_up{
width: 870px;height: 485px;background-image: url(http://azexchangeclub.com/eren243/media/rokanthemes/newsletter/background/stores/11/bkg_newletter_popup-rtl.jpg);background-repeat: no-repeat;
background-position: 95% center;
background-position: left top;}
