<?php 
use Magento\Framework\App\Action\Action;
if($this->getConfig('enabled')){ ?>
	<?php $_productCollection = $this->getProducts();
$_helper = $this->helper('Magento\Catalog\Helper\Output');

$_helperData = $this->helper('Rokanthemes\PriceCountdown\Helper\Data');
$timer_active = $_helperData->getConfigData('pricecountdown/general/activate_pricecountdown');
$timer_head_active = $_helperData->getConfigData('pricecountdown/general/activate_rokanthemes_heading');
$timer_desc_active = $_helperData->getConfigData('pricecountdown/general/activate_rokanthemes_description');
$timer_color = $_helperData->getConfigData('pricecountdown/pricecountdown_color/text');
$desc_color = $_helperData->getConfigData('pricecountdown/pricecountdown_color/description');
$head_color = $_helperData->getConfigData('pricecountdown/pricecountdown_color/heading_text_color');
$timer_head = $_helperData->getConfigData('pricecountdown/general/heading');
$count = 1;
$_current_timer = time();

	?>
	<div class="rokan-countdown">
		
		<?php			
			$viewMode = 'grid';
			$image = 'category_page_grid';
			$showDescription = false;
			$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
			$pos = $block->getPositioned();
			
		?>
		<?php if($this->getConfig('title')){?>
			<div class="rokan-product-heading rokan-onsale-heading"><h2><?php echo $this->getConfig('title')?></h2></div>
		<?php }?>
		<?php if(!$_productCollection->getSize()): ?> 
			<div class="rokan-onslate-slider">	
				<p class="note-msg"><?php echo __('There are no products matching the selection.') ?></p>
			</div>
		<?php else: ?>
			<?php
			if(!$rows = $this->getConfig('items'))
				$rows = 1;
			$imagesPager = array();
			?>	
			<?php foreach ($_productCollection as $_product): 
				$productImage = $block->getImage($_product, $image);
				$imagesPager[$_product->getId()] = $productImage; 
				endforeach; ?>  
			<ul id="images-pager" class="images-pager">
				<?php foreach($imagesPager as $id=>$img): ?>
					<li class="item-pager" data-id="item-<?php echo $id;?>">
						<?php echo $img->toHtml(); ?>
					</li>
				<?php endforeach; ?>
			</ul>
			<div class="area_detail">
				<ul class="owl">
					<?php $_collectionSize = $_productCollection->count() ?>
					<?php $i=0; foreach ($_productCollection as $_product): ?>
						<li class="item onsaleproductslider-item item-<?php echo $_product->getId(); ?>">

							<div class="product-item">
								<?php
								$productImage = $block->getImage($_product, 'product_page_image_medium');
								
								if ($pos != null) {
									$position = ' style="left:' . $productImage->getWidth() . 'px;'
										. 'top:' . $productImage->getHeight() . 'px;"';
								}
								?>
								<div class="product-photo">
									<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
										<?php $productImageThumb = $block->getImage($_product, 'product_page_image_medium');?>
										<span class="image0 image-switch">
											<?php echo $productImage->toHtml(); ?>
										</span>
										<span class="image1 image-switch">
											<?php echo $productImageThumb->toHtml(); ?>
										</span>
									</a>
								<div class="quickview-product">
									<a  data-role="quickview-button" data-id="<?php echo $_product->getId(); ?>" href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_product->getId()) ?>" title="" class="ajax diamond tooltip-hover" data-placement="top" data-original-title="<?php echo ('Quick view') ?>"><i><?php echo ('Quick view') ?></i></a>
								</div>
								
								</div>
								<div class="product-info">
									<?php
										$_productNameStripped = $block->stripTags($_product->getName(), null, true);
									?>
									<h3 class="product-name">
										<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
											<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
										</a>
									</h3>
									<div class="product-ratting">
										<?php if($this->getConfig('review')): ?>
											<?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
										<?php endif; ?>
									</div>
									<?php if ($_product->getIsSalable()): ?>
										<div class="stock available"><?php echo __('Availability') ?>: <span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
									<?php else: ?>
										<div class="stock unavailable"><?php echo __('Availability') ?>: <span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
									<?php endif; ?>
									<div class="attributes">
										<p><label><?php echo __('SKU'); ?>: </label><span><?php echo $_product->getSku(); ?></span></p>
										<?php if($_product->getShortDescription()): ?>
										<p><?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?></p>
										<?php endif; ?>
									</div>
									<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
									<div class="addto-links-icons visible-onhover">
										<div class="action-inner">
											<div class="pull-left actions-primary">
												<?php if ($_product->isSaleable()): ?>
													<?php $postParams = $block->getAddToCartPostParams($_product); ?>
													<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
														<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
														<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
														<?php echo $block->getBlockHtml('formkey')?>
														<button type="submit"
																title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
																class="action tocart primary btn btn-add-to-cart">
															<i class="fa fa-plus">&nbsp;</i><span><?php echo $block->escapeHtml(__('Add to Cart')); ?></span>
														</button>
													</form>
												<?php else: ?>
												<?php endif; ?>
											</div>
											<ul class="add-to-links pull-right">
												<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
												<li>
													<a href="#"
													   class="action towishlist"
													   title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
													   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
													   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
													   data-action="add-to-wishlist"
													   role="button">
														<i class="fa fa-heart-o">&nbsp;</i>
													</a>
												</li>
												<?php endif; ?>
											<?php
												$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
												?>
												<li><a href="#"
												   class="action tocompare"
												   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
												   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
												   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
												   role="button">
													<i class="fa fa-compress">&nbsp;</i>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="count-down">
									<?php if($timer_active == 1){ ?>
									<?php $_product = $_product->load($_product->getId()) ?>
									<?php $toDate = $_product->getSpecialTODate();?>
									<?php $fromDate = $_product->getSpecialFromDate(); ?>
									<?php if(($_product->getPrice() > $_product->getSpecialPrice() || $_product->getTypeId() == 'bundle') && $_product->getTimershow() == 1) { ?>
										<?php if($_product->getSpecialPrice()!= 0 || $_product->getSpecialPrice()!= "" ) { ?>
												<?php if($timer_head_active == 'showall' || $timer_head_active == 'listpage' && $timer_head_active!='hideall' && $timer_head!= '') { ?>
												<div id="heading<?php echo $count; ?>" style="color:#<?php echo $head_color; ?>; font-size: 14px; font-weight:bold;padding-top:0px;clear: both;"><?php echo $timer_head ?></div>
												<?php } ?>
												<div id="countbox_<?php echo $count; ?>" class="timer-list"></div>
												<?php if($timer_desc_active == 'showall' || $timer_desc_active == 'listpage' && $timer_desc_active!='hideall') { ?>
												<?php
														if($_product->getTypeId() == 'bundle')
														{
															echo '<h1>Discount up to '.(100 - $_product->getSpecialPrice()*1).'% </h1>';
														}
													} ?> 
												<script type="text/javascript">
												var DisplayFormat = "<span class='countdown-section'><span class='countdown-amount'>%%D%%</span><span class='countdown-period'><?php echo __('Days') ?></span></span><span class='countdown-section'><span class='countdown-amount'>%%H%%</span><span class='countdown-period'><?php echo __('Hrs') ?></span></span><span class='countdown-section'><span class='countdown-amount'>%%M%%</span><span class='countdown-period'><?php echo __('Mins') ?></span></span><span class='countdown-section'><span class='countdown-amount'>%%S%%</span><span class='countdown-period'><?php echo __('Secs') ?></span></span>";
													var dthen<?php echo $count; ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)).' 11:59:00 PM'; ?>");
													start = "<?php echo Date("m/d/y h:i:s A", $_current_timer); ?>";
													start_date = Date.parse(start);
													var dnow<?php echo $count; ?> = new Date(start_date);
													if(CountStepper>0)
														ddiff= new Date((dnow<?php echo $count; ?>)-(dthen<?php echo $count; ?>));
													else
														ddiff = new Date((dthen<?php echo $count; ?>)-(dnow<?php echo $count; ?>));
													//gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
													<?php if(strtotime($fromDate) <= $_current_timer){ ?>
														gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
													<?php }else{ ?>
														gsecs<?php echo $count; ?> = -1;
													<?php } ?>

													var iid<?php echo $count; ?> = "countbox_<?php echo $count; ?>";
													CountBack(gsecs<?php echo $count; ?>,"countbox_"+j, j);
													j++;
												</script>
												<?php $count = $count + 1; ?>
												<?php
											}
										}
									} ?>
								  </div>
								</div>
							<?php $i++;?>
						</div>
					</li>
					<?php endforeach; ?>    
				</ul>
			</div>
			
		<?php if (!$block->isRedirectToCartEnabled()) : ?>
			<script type="text/x-magento-init">
			{
				"[data-role=tocart-form], .form.map.checkout": {
					"catalogAddToCart": {}
				}
			}
			</script>
		<?php endif; ?>
			<script>
				require([
					'jquery',
					'mage/mage',
					'rokanthemes/owl'
				], function ($) {
					'use strict';
					jQuery(".rokan-countdown .owl .onsaleproductslider-item").hide();
					jQuery(".rokan-countdown .owl .onsaleproductslider-item").first().show();
					jQuery('#images-pager li.item-pager').first().addClass('active');
					jQuery('#images-pager li.item-pager').on({
						click: function(){
							var idClass = $(this).attr('data-id');
							jQuery('#images-pager li.item-pager').removeClass('active');
							$(this).addClass('active');
							jQuery(".rokan-countdown .owl .onsaleproductslider-item").hide();
							jQuery(".rokan-countdown .owl .onsaleproductslider-item").removeClass('active');
							jQuery(".rokan-countdown .owl .onsaleproductslider-item." + idClass).slideDown();
							jQuery(".rokan-countdown .owl .onsaleproductslider-item." + idClass).addClass('active');
						}
					});
				});
			</script>
	<?php endif; ?>
	</div>
<?php } ?>