<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
if($banners = $block->getBannerCollection()):
	$slider = $block->getSlider();
	$sliderId = $block->getSliderId(); 
?>
<div class="wrapper_slider slider_<?php echo $sliderId; ?>">
	<div class="owl">
		<?php foreach($banners as $banner){	?>
			<?php 
				if ($banner->getSlideStatus() == 1):
			?>
			<div class="banner_item">
				<?php
				$html = $block->getImageElement($banner->getSlideImage());
				if ($banner->getSlideText()) {
					$html .= '<div class="container"><div class="slider-text">'.$banner->getSlideText().'</div></div>';
				}
				if($link = $banner->getSlideLink())
					$html = '<a href="'. $link .'">' 
							. $html . 
							'</a>' ; 
				echo $html;
				?>
			</div>
			<?php endif; ?>
		<?php } ?>
	</div>
</div>
<script>
	require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl'
	], function ($) {
		'use strict';

		jQuery(".slider_<?php echo $sliderId; ?> .owl").owlCarousel(
			{<?php foreach($slider->getSliderSetting() as $key=>$value)
				{
					if(in_array($key, array('autoPlay', 'navigation', 'stopOnHover', 'pagination', 'scrollPerPage'))){
						$value == 0 ? $value = 'false': '';
						$value == 1 ? $value = 'true': '';
					}
					echo $key . ':' . $value . ',';
				} ?>}
		);
	});
</script>
<?php endif; ?>
