<?php 
use Magento\Framework\App\Action\Action;
if($this->getConfig('enabled')){ ?>
	<?php $_productCollection = $this->getProducts();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
	?>
	<div class="rokan-newproduct block">
		
		<?php			
			if ($block->getMode() == 'grid') {
				$viewMode = 'grid';
				$image = 'category_page_grid';
				$showDescription = false;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
			} else {
				$viewMode = 'list';
				$image = 'category_page_grid';
				$showDescription = true;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
			}
			$pos = $block->getPositioned();
			
		?>
		<?php if($this->getConfig('title')){?>
			<div class="rokan-product-heading rokan-onsale-heading">
				<?php echo $this->getConfig('title')?>
			</div>
		<?php }?>
		<?php if(!$_productCollection->getSize()): ?> 
			<div class="rokan-newproduct-slider">	
				<p class="note-msg"><?php echo __('There are no products matching the selection.') ?></p>
			</div>
		<?php else: ?>
			<?php
			$rows = 2;
			?>	
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<div class="box_new_image">
						<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('box_new_image')->toHtml();?>	
					</div>
				</div>
				<div class="col-md-6 col-xs-12">
					<ul class="owl">
						<?php $_collectionSize = $_productCollection->count() ?>
						<?php $i=0; foreach ($_productCollection as $_product): ?>
							<?php if($i %$rows == 0) echo "<li class='item newproductslider-item'>"; ?>

								<div class="product-item">
									<?php
									$productImage = $block->getImage($_product, $image);
									if ($pos != null) {
										$position = ' style="left:' . $productImage->getWidth() . 'px;'
											. 'top:' . $productImage->getHeight() . 'px;"';
									}
									?>
									<?php /* Product Image*/ ?>
									<div class="product-photo">
										<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
											<?php $productImageThumb = $block->getImage($_product, 'category_page_grid-1');?>
											<span class="image0 image-switch">
												<?php echo $productImage->toHtml(); ?>
											</span>
											<span class="image1 image-switch">
												<?php echo $productImageThumb->toHtml(); ?>
											</span>
										</a>
										<div class="addto-links-icons visible-onhover">
											<div class="action-inner">	
												
												<?php if( $this->getConfig('addtowishlist') || $this->getConfig('addtocompare') ){?>
													<ul class="add-to-links">
													<li>
														<div class="quickview-product">
															<a href="javascript:void(0)" data-role="quickview-button" data-id="<?php echo $_product->getId(); ?>" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_product->getId()) ?>" title="<?php echo $block->escapeHtml(__('Quick view')); ?>" class="ajax diamond tooltip-hover" data-placement="top" data-original-title="<?php echo ('Quick view') ?>"><i class="fa fa-compress"></i></a>
													    </div>
													</li>
								
													<?php if( $this->getConfig('addtocompare')): ?>
													<?php
														$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
														?>
														<li><a href="#"
														   class="action button tocompare"
														   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
														   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
														   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
														   role="button">
															<i class="fa fa-sliders"></i>
															</a>
														</li>
													<?php endif; ?>

													<?php if( $this->getConfig('addtowishlist')): ?>
														<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
														<li>
															<a href="#"
															   class="action button towishlist"
															   title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
															   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
															   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
															   data-action="add-to-wishlist"
															   role="button">
																<i class="fa fa-heart-o"></i>
															</a>
														</li>
														<?php endif; ?>
													<?php endif; ?>
													</ul>
												<?php }?>
											</div>
										</div>
										<?php if ( $_product->getFinalPrice() < $_product->getPrice() ): ?>
											<span class="onsale">
												<span><?php echo __('Sale') ?></span>
											</span>
										<?php endif; ?>
									</div>
									<div class="product-info">
										<?php
											$_productNameStripped = $block->stripTags($_product->getName(), null, true);
										?>
										<h3 class="product-name">
											<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
												<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
											</a>
										</h3>

										<?php if( $this->getConfig('show_price') ): ?>
											 <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
										<?php endif; ?>
										
										<?php if ($this->getConfig('addtocart')) { ?>
										<div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
											<?php if ($_product->isSaleable()): ?>
												<?php $postParams = $block->getAddToCartPostParams($_product); ?>
												<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
													<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
													<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
													<?php echo $block->getBlockHtml('formkey')?>
													<button type="submit"
															title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
															class="action tocart primary btn btn-add-to-cart">
														<i class="icon icon_bag_alt"></i></span>
													</button>
												</form>
											<?php else: ?>
												<?php if ($_product->getIsSalable()): ?>
													<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
												<?php else: ?>
													<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
												<?php endif; ?>
											<?php endif; ?>
										</div>
										<?php }?>
									</div>
								<?php $i++;?>
							</div>
							<?php if($i %$rows == 0) echo "</li>"; ?>                  
						<?php endforeach; ?>
							<?php if($i %$rows != 0) echo "</li>"; ?>                
					</ul>
				</div>
			</div>
		<?php if (!$block->isRedirectToCartEnabled()) : ?>
			<script type="text/x-magento-init">
			{
				"[data-role=tocart-form], .form.map.checkout": {
					"catalogAddToCart": {}
				}
			}
			</script>
		<?php endif; ?>
			<script>
				require([
					'jquery',
					'mage/mage',
					'rokanthemes/owl'
				], function ($) {
					'use strict';

					jQuery(".rokan-newproduct .owl").owlCarousel({
						lazyLoad: true,
						autoPlay : false,
						items : 3,
						itemsDesktop : [1199,2],
						itemsDesktopSmall : [992,3],
						itemsTablet: [768,2],
						itemsMobile : [479,1],
						slideSpeed : 500,
						paginationSpeed : 500,
						rewindSpeed : 500,
						navigation : true,
						stopOnHover : true,
						pagination :false,
						scrollPerPage:false,
					});
				});
			</script>
	<?php endif; ?>
	</div>
<?php } ?>