<?php
/**
 * Copyright © 2019 Rokanthemes. All rights reserved. 
 */

	$banner = $block->getBanner();
	$back_img = '';
	$add_class = '';
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
	if($banner){
		$folderName = \Rokanthemes\StoreLocator\Model\Config\Banner::UPLOAD_DIR;
		$path = $folderName . '/' . $banner;
		$imageUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . $path;
		$add_class = ' banner-image';
		$back_img = ' style="background-image: url('.$imageUrl.');"';
	}

?>
<div class="header-banner<?= $add_class ?>" <?= $back_img ?>>
	<div class="rokan-title">
		<?php echo $this->getChildHtml("page.main.title"); ?>
		<?php echo $this->getChildHtml("breadcrumbs"); ?>
	</div>
</div>